Blackmagic Design/
BraveSoftware/
Mattermost/
Microsoft/
QtProject.conf
Slack/
Unknown Organization/
autostart/
binwalk/
cef_user_data/
configstore/
dconf/
enchant/
eog/
evince/
evolution/
gedit/
gnome-initial-setup-done
google-chrome/
gtk-3.0/
guvcview2/
htop/
ibus/
libreoffice/
mimeapps.list
nautilus/
obs-studio/
pavucontrol.ini
pcloud/
pomatez/
protonmail/
pulse/
teams/
totem/
unity3d/
user-dirs.dirs
user-dirs.locale
vlc/
wireshark/
zoomus.conf
